/* 여백초기화 */
* {
    margin: 0;
    padding: 0;
}

/* 블릿없애기 */
ul,
ol {
    list-style: none;
}

/* 링크설정 */
a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #111111;
}

/* top */
#top {
    width: 1320px;
    margin: 0 auto;
    padding: 5px 0;
}

.util {
    display: flex;
    justify-content: flex-end;
}

.util li {
    padding-left: 58px;
    font-size: 14px;
}

/* top */


/* header */
#header {
    background-color: #111111;
}

.inner_header {
    width: 1320px;
    margin: 0 auto;
    color: white;
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
}

.gnb {
    display: flex;
}

.gnb li {
    padding-right: 170px;
    padding-top: 5px;
    font-size: 15px;
    font-weight: bold;
}

/* header */


/* main_banner */
.main_banner {
    position: relative;
    height: 430px;
}

/* swiper */
.main_banner.swiper {
    width: 100%;
    height: 100%;

}

.main_banner.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_banner.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_banner .swiper-button-next,
.main_banner .swiper-button-prev {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 50%);

}

.main_banner .swiper-pagination-bullet-active {
    width: 50px;
    border-radius: 0px;
    background: #464444;
}

.swiper-pagination-bullet {
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius, 0px);
    background: #CCC9D0;
    opacity: 1;

}

/* swiper */
/* main_banner */


/* main1 */
#main1 {
    width: 1320px;
    margin: 0 auto;

}

.main1_wrap {
    margin: 10px 0 15px;
    display: flex;
    justify-content: space-between;

}


.main_banner1 {
    position: relative;
    width: 953px;
    height: 185px;
}

/* swiper */
.main_banner1 .swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 60px;
    background-color: #E9E9E9;
}

.main_banner1 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_banner1 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_banner1 .swiper-horizontal>.swiper-pagination-bullets,
.main_banner1 .swiper-pagination-bullets.swiper-pagination-horizontal,
.main_banner1 .swiper-pagination-custom,
.main_banner1 .swiper-pagination-fraction {
    width: 25%;
    font-size: 20px;
    padding-bottom: 10px;
}

.main_banner1 .swiper-button-next,
.swiper-button-prev {
    top: var(--swiper-navigation-top-offset, 89%);
    color: #333;
}

.main_banner1 .swiper-button-prev:after,
.main_banner1 .swiper-rtl .main_banner1 .swiper-button-next:after {
    content: url(../figma_img/2_main/main_slide_boode/navigate_before.svg);
    position: absolute;
    bottom: 7px;
    left: 40px;
}

.main_banner1 .swiper-button-next:after,
.main_banner1 .swiper-rtl .main_banner1 .swiper-button-prev:after {
    content: url(../figma_img/2_main/main_slide_boode/navigate_next.svg);
    position: absolute;
    bottom: 7px;
    right: 754px;

}

.main_banner1 .swiper-pagination {
    z-index: 3;
}

.main_banner1 .swiper-button {
    width: 100px;
}

/* swiper */


.list {
    margin-top: 3px;
}

.list li {
    font-size: 14px;
    background-color: #D2D2D3;
    border-bottom: 1px solid white;
    width: 305px;
    height: 48px;
    padding: 10px 40px 0 60px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: left 10px center;
}

.list li a {
    display: block;
    width: 305px;
    height: 48px;

}

.list li p {
    width: 50px;
    font-size: 14px;
    padding-left: 10px;
}



.list li:nth-child(1) {
    background-image: url(../figma_img/2_main/menu/1_Daily.png);
    display: flex;
    justify-content: space-between;
}

.list li:nth-child(2) {
    background-image: url(../figma_img/2_main/menu/2_Cloud.png);

}

.list li:nth-child(3) {
    background-image: url(../figma_img/2_main/menu/3_Popular_books.png);

}

.list li:nth-child(4) {
    background-image: url(../figma_img/2_main/menu/4_Custom_videos.png);

}

.list li:nth-child(5) {
    background-image: url(../figma_img/2_main/menu/5_Calendar.png);

}

.list li:hover {
    background-color: #8BA6FF;
    color: white;
}

.main1_bottom_wrap {
    margin: 5px 0 10px;
    display: flex;
}

.main1_bottom_wrap li {
    box-sizing: border-box;
    width: 440px;
    height: 158px;
    background-repeat: no-repeat;
    background-position: left 54px center;
    padding: 25px 0 0 200px;
    font-size: 25px;


}

.main1_bottom {
    width: 1320px;
    margin: 0 auto;
}

.main1_bottom_wrap li p {
    padding-bottom: 20px;
    font-weight: bold;
}

.main1_bottom_wrap li:nth-child(1) {
    background-color: #FFF28F;
    background-image: url(../figma_img/2_main/main_3/1_mp3/mp3_1.svg);
}

.main1_bottom_wrap li:nth-child(2) {
    background-color: #C2FAC5;
    background-image: url(../figma_img/2_main/main_3/2_lecture/lecture_1.svg);
}

.main1_bottom_wrap li:nth-child(3) {
    background-color: #CED2FF;
    background-image: url(../figma_img/2_main/main_3/3_learning/learning_1.svg);
}

/* main1 */


h2 {
    font-size: 40px;
    font-weight: bold;
}


/* delay  */
#delay {
    width: 1320px;
    margin: 0 auto;
}

#delay h2 {
    padding: 50px 0 20px;
}

.delay_text {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;
}

.delay_vid {
    padding-right: 215px;
}


.language {
    display: flex;
    justify-content: space-between;
}

.inner_language {
    display: flex;
    gap: 30px;
}

.inner_language li {
    width: 299px;
    height: 192px;
    background-repeat: no-repeat;
    background-position: top center;
    box-sizing: border-box;
    padding: 110px 20px 0;
    display: block;
    position: relative;
}

.inner_language li:nth-child(1) {
    background-image: url(../figma_img/3_Daily/1_english.jpg);
}

.inner_language li:nth-child(2) {
    background-image: url(../figma_img/3_Daily/2_chinese.jpg);
}

.inner_language li:nth-child(3) {
    background-image: url(../figma_img/3_Daily/3_Japanese.jpg);
}

.inner_language li p:nth-child(1) {
    font-size: 20px;

}

.inner_language li p:nth-child(2) {
    font-size: 18px;
}



.inner_language li:hover .language_txet {
    opacity: 0;
}



.inner_language_ho {
    position: absolute;
    bottom: 35px;
    left: 20px;
    opacity: 0;

}

.inner_language li:hover .inner_language_ho {
    opacity: 1;
}

/* delay  */




/* daily_bottm */
#daily_bottm {
    display: flex;
    width: 1320px;
    margin: 0 auto;
    padding-top: 60px;
    justify-content: space-between;



}

h3 {
    font-size: 25px;
    padding: 30px;
}


.daily_books {
    width: 844px;
    height: 514px;
    border: 5px solid #DEDADA;
    box-sizing: border-box;
}

.daily_books_img {

    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    text-align: center;

}

.daily_books_img li img {
    width: 100%;
    box-sizing: border-box;
}

.daily_books_img li {
    padding-top: 10px;
        display: block;


}

.daily_books_img_wrap{
    transform: rotateY(0deg);
    transition: transform 4s ;
}


.daily_books_img:hover .daily_books_img_wrap{
    transform: rotateY(360deg);
}


.daily_pop {
    display: block;
    width: 435px;

}

@keyframes new {
    0% {
        transform: rotateY(0deg);
    }

    25% {
        transform: rotateY(90deg);
    }

    50% {
        transform: rotateY(0deg);
    }

    75% {
        transform: rotateY(-90deg);
    }

    0% {
        transform: rotateY(0deg);
    }

}


.daily_pop_img {
    animation: new 7s infinite;
}

/* daily_bottm */




/* Cloud */
#Cloud {
    display: block;
    margin: 25px 0;
    height: 830px;
    box-sizing: border-box;
    background: linear-gradient(to top, #F6D0FF, #D9B9FF);
}

#Cloud h2 {
    padding: 60px 0 30px;
}

.Cloud_text {
    padding: 40px 0 50px;
}

.inner_Cloud {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    display: block;
}


.shool {
    display: flex;
    justify-content: space-between;
    padding: 20px 115px;



}

.shool li {
    width: 346px;
    height: 190px;
    display: flex;
    position: relative;
}

.shool li:nth-child(1) {
    background-color: #9F44DB;
}

.shool li:nth-child(2) {
    background-color: #DA6BF5;
}

.shool li:nth-child(3) {
    background-color: #E7A1FF
}

.shool_after {
    opacity: 1;
    display: flex;
}

.shool_after p {
    width: 150px;
    font-size: 45px;
    padding-top: 85px;
    font-weight: bold;

}

.shool_after img {
    width: 170px;

}


.shool_before {
    opacity: 0;
    position: absolute;
    top: 25px;
    left: 100px;
}

.shool_before img {
    width: 100%;
}

.shool li:hover .shool_after {
    opacity: 0;
}


.shool li:hover .shool_before {
    opacity: 1;
}



.ster {
    display: flex;
    justify-content: space-between;
    padding: 0 115px;


}

.ster li {
    display: block;
    width: 536px;
    height: 176px;
    display: flex;
    padding: 20px 50px;
    background-color: white;
    justify-content: space-between;
    box-sizing: border-box;

}

.ster li strong {
    display: block;
    font-size: 25px;
    padding-bottom: 20px;
}


.ster li p {
    font-size: 16px;

}

.ster_text {
    text-align: left;
    padding: 30px 0;
}


/* 두번째 줄 애니메이션 */
.typing-container:nth-child(2) {
    animation-delay: 3s;
    /* 첫 번째 줄 애니메이션이 끝난 후 시작 */
    animation-timing-function: linear;
}

/* 타이핑 애니메이션 */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}


.Cloud_data {
    display: flex;
    justify-content: center;
    position: relative;
    box-sizing: border-box;

}

.Cloud_data_wrap1 {
    display: flex;
    position: absolute;
    top: 60px;
    left: 110px;

}

.Cloud_data_wrap2 {
    display: flex;
    position: absolute;
    top: 60px;
    right: 115px;
}

.Cloud_data p {
    padding-top: 20px;
    font-size: 20px;
    padding-left: 20px;

}

/* 애니메이션 */
@keyframes motion {
    0% {
        top: 60px;
        left: 110px;
    }

    50% {
        top: 60px;
        left: 390px;
    }

    100% {
        top: 60px;
        left: 110px;
    }
}

@keyframes motion1 {
    0% {
        top: 60px;
        right: 110px;
    }

    50% {
        top: 60px;
        right: 375px;
    }

    100% {
        top: 60px;
        right: 110px;
    }
}

/* 애니메이션 */

.Cloud_data_wrap1 {
    animation: motion 7s infinite;
}

.Cloud_data_wrap2 {
    animation: motion1 7s infinite;
}


/* Cloud */


/* Popular_books */
#Popular_books {
    width: 1320px;
    margin: 0 auto;
    height: 800px;

}

#Popular_books h2 {
    display: block;
    text-align: center;
    margin: 115px 0 54px;
}

.Popular_books_wrap {
    margin-bottom: 20px;
}


/* button must */
.section {
    width: 100%;
    height: 640px;
    float: right;
    position: relative;
    box-sizing: border-box;
}

.link {
    width: 40%;
    position: absolute;
    top: 0;
    left: 0;
}

.link strong {
    display: block;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 55px;
}

.e-book {
    margin-top: 130px;
}

.link ul li {
    display: block;
    width: 174px;
    height: 42px;
    background-color: #EBEBEB;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 5px;
}

.link ul li a {
    display: block;
    height: 100px;
    font-size: 20px;
}

.img_wrap {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;

}

.img_slide {
    position: relative;
    display: flex;
    background-color: white;
}

.img1,
.img2,
.img3,
.img4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.img1 img,
.img2 img,
.img3 img,
.img4 img {
    margin: 10px 20px 130px 0px;
}

.img2,
.img3,
.img4 {
    display: none;
}

/* button must */


/* text position */
.img_text1 {
    display: block;
    font-size: 20px;
    position: absolute;
    top: 290px;
    left: 40px;
}

.img_text2 {
    display: block;
    font-size: 20px;
    position: absolute;
    top: 290px;
    left: 270px;
}

.img_text3 {
    display: block;
    font-size: 20px;
    position: absolute;
    top: 290px;
    right: 520px;
}

.img_text4 {
    display: block;
    font-size: 20px;
    position: absolute;
    top: 290px;
    right: 285px;
}

.img_text5 {
    display: block;
    font-size: 20px;
    position: absolute;
    top: 290px;
    right: 135px;
}

.img_text6 {
    display: block;
    font-size: 20px;
    position: absolute;
    top: 700px;
    left: 65px;
}

.img_text7 {
    display: block;
    font-size: 20px;
    position: absolute;
    top: 700px;
    left: 220px;
}

.img_text8 {
    display: block;
    font-size: 20px;
    position: absolute;
    top: 700px;
    right: 495px;
}

.img_text9 {
    display: block;
    font-size: 20px;
    position: absolute;
    top: 700px;
    right: 270px;
}

.img_text10 {
    display: block;
    font-size: 20px;
    position: absolute;
    top: 700px;
    right: 135px;
}

.img1_text5 {
    display: block;
    font-size: 20px;
    position: absolute;
    top: 290px;
    right: 135px;
}

.img1_text6 {
    display: block;
    font-size: 20px;
    position: absolute;
    top: 290px;
    left: 65px;
}

.img1_text7 {
    display: block;
    font-size: 20px;
    position: absolute;
    top: 290px;
    left: 220px;
}

.img1_text8 {
    display: block;
    font-size: 20px;
    position: absolute;
    top: 290px;
    right: 495px;
}

.img1_text9 {
    display: block;
    font-size: 20px;
    position: absolute;
    top: 290px;
    right: 270px;
}

.img1_text10 {
    display: block;
    font-size: 20px;
    position: absolute;
    top: 290px;
    right: 135px;
}

/* text position */
/* Popular_books */



/* Custom_videos */
#Custom_videos {
    width: 1320px;
    margin: 0 auto;
}

#Custom_videos h2 {
    margin: 120px 0 75px;
}

.inner_Custom_videos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.inner_Custom_videos strong {
    display: block;
    font-size: 18px;
    margin: 15px 0;
}

.inner_Custom_videos p {
    font-size: 14px;
}

.inner_Custom_videos_text {
    margin-top: 37px;
}

/* Custom_videos */



/* Calendar */
#Calendar {
    width: 1320px;
    margin: 0 auto;
    position: relative;
}

.inner_Calendar_wrap {
    display: flex;
    justify-content: space-between;
}

.inner_Calendar h2 {
    margin: 25px 0;
}

.inner_Calendar p {
    margin-bottom: 60px;
    font-size: 20px;
}

.inner_Calendar li {
    box-sizing: border-box;
    width: 300px;
    height: 60px;
    text-align: center;
    padding: 20px 0;
    background-color: #E9EBFF;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    font-size: 20px;

}

.inner_Calendar li:nth-child(1) {
    background-image: url(../figma_img/7_calender/calender_menu/1_timetable.png);
    background-position: left 20px center;
}

.inner_Calendar li:nth-child(2) {
    background-image: url(../figma_img/7_calender/calender_menu/2_online_learning.png);
    background-position: left 20px center;
}

.inner_Calendar li:nth-child(3) {
    background-image: url(../figma_img/7_calender/calender_menu/3_Online_review.png);
    background-position: left 30px center;
}

.inner_Calendar li:nth-child(4) {
    background-image: url(../figma_img/7_calender/calender_menu/4_Supplementary_Materials.png);
    background-position: left 20px center;
}

.inner_Calendar li:nth-child(5) {
    background-image: url(../figma_img/7_calender/calender_menu/5_Learning_Reporter.png);
    background-position: left 30px center;
}

.Calendar_img {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: -20px;
    right: -200px;
}

/* Calendar */


/* footer */
#footer {
    background-color: #6567BE;
    height: 200px;
    margin-top: 120px;
    color: white;
    padding-top: 40px;
    box-sizing: border-box;

}

.foot_logo {
    padding-top: 10px;
}

.inner_footer {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.foot_gnb_wrap {
    margin-right: 400px;
}


.foot_gnb {
    display: flex;
    padding-bottom: 15px;
}

.foot_gnb li {
    padding-right: 10px;
    font-size: 16px;
}

.foot_text p {
    padding-bottom: 10px;
    font-size: 13px;
    line-height: 1.2em;
}

.sns {
    display: flex;
    gap: 20px;
}

/* footer */